.mdl-dialog {
  border: none;
}

.nox {
  height: 100%;
  }

.nox .button-head {
  border: transparent;
  background: transparent;
  color: white;
  margin-top: 3px;
}

.nox tr {
  height: 0.5px;
}

.mdl-card {
  width: 100%;
 /* overflow: visible; */
  /* overflow: scroll; */
}

.nox .button-head {
  border: transparent;
  background: transparent;
  color: white;
  margin-top: 3px;
}

.nox .button-table {
  position: absolute;
  bottom: 3px;
  right: 3px;
  z-index: 1;
}

.nox .material-icons {
  font-size: 14px;
}

.nox .nav-right a {
  text-decoration: none;
}

.nox .widget-table {
  width: 100%;
  border-collapse: collapse;
}

.nox .widget-th {
  height: 30px;
  width: 88px;
}

.nox .widget-tr {
  font-size: 12px;
  vertical-align: top;
}

.nox .day {
  height: 550px;
  overflow-y: auto;
  overflow-x: hidden;
}

.nox .day-date {
  height: 42px;
  text-align: right;
  width: 55px;
  border: 1px solid #aaa;
}

.nox .day-event {
  width: 580px;
  border: 1px solid #aaa;
}

.nox .agenda-information {
  color: white;
  padding-left: 2px;
 // width: 100%;
 // height: 100%;
}

.nox .meeting-event {
  background-color: #9C27B0;
}

.nox .default-event {
  background-color: #2196F3;
}

.nox .event-time {
  font-weight: bold;
}

.nox .event-desc {
  display: block;
}

.nox .h-h {
}

.nox .other-month {
  pointer-events: none;
  background-color: #f3f3f3;
  color: darkgray;
}

.nox .other-month .event {
  background-color: #555;
  color: #aaa;
}

/* -------------------------------------------------------------------------
 * agenda-view
 * ------------------------------------------------------------------------- */
.nox.agenda-view .date-text {
   margin-top: 32px;
   padding-left: 31px;
   color: #757575;
}

.nox.agenda-view .event-checkbox {
  display: inherit;
}

.nox.agenda-view .checkbox-text {
  margin-left: -17px;
  margin-top: 10px;
  color: #757575;
}

.nox.agenda-view .add-icons {
  color: #757575;
}

.nox.agenda-view .button-table {
  position: absolute;
  bottom: 3px;
  right: 3px;
}

.nox.agenda-view .material-icons {
  font-size: 14px;
}

.nox.agenda-view .nav-right a {
  text-decoration: none;
}

.nox.agenda-view .widget-table {
  width: 100%;
  border-collapse: collapse;
}

.nox.agenda-view .widget-tr {
  vertical-align: middle;
  font-size: 12px;
}

.nox.agenda-view td {
  padding-top: 15px;
}

.nox.agenda-view .widget-a {
  text-decoration: none;
}

.nox.agenda-view .date-agenda {
  text-align: center;
  width: 15%;
  max-width: 200px;
}

.nox.agenda-view .time-agenda {
  text-align: center;
  width: 15%;
}

.nox.agenda-view .agenda-options {
  text-align: right;
  padding-right: 31px;
}




/* event rendering
   ------------------------------------------------------------------------- */
.nox .event {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.nox .event.event-enabled {
  background-color: blue;
  color: white;
}

.nox .event.event-disabled {
  background-color: darkgray;
  color: white;
}

.nox .event a, .nox .event a:visited, .nox .event a:link {
  color: #fff;
  text-decoration: none;
}

.nox .event a:hover {
  color: #fff;
  text-decoration: underline;
}


/* edit-dialog
   ------------------------------------------------------------------------- */
.nox dialog.edit-dialog  {
  width: 80%;
  max-width: 800px;
}

.nox dialog.edit-dialog button + button {
  margin-left: 14px;
}

.calendar-tooltip {
  pointer-events: none;
}

.calendar-tooltip .nox-tooltip {
  pointer-events: auto;
}

.triangle-isosceles.top:after {
  pointer-events: none;
}

/* event tooltip
   ------------------------------------------------------------------------- */

.nox-tooltip {
  pointer-events: auto;
}

.nox-tooltip > table {
  margin-bottom: 10px;
}

.nox-tooltip button + button {
  margin-left: 14px;
}

.nox-tooltip .information {
  width: 45%;
  min-width: 293px;
}

.nox .event-tooltip-view .information .material-icons {
  font-size: 12px;
  vertical-align: middle;
}

.nox-tooltip .information-title {
  font-weight: 600;
}

.nox-tooltip .information-label {
  /* color: #757575; */
  font-weight: bold;
}

.nox-tooltip .label-option {
  padding-left: 10px;
}

.nox-tooltip .assistance-footer {
  padding-top: 5px;
}

